###################### OSX ########################
.DS_Store

# install module
install/

# config file
config.php
admin/config.php

# IDEs
/.idea/
.jshintrc


###################### WINDOWS #####################

## Windows image file caches
Thumbs.db
ehthumbs.db

## Folder config file
Desktop.ini

## Recycle Bin used on file shares
$RECYCLE.BIN/

## Windows Installer files
*.cab
*.msi
*.msm
*.msp

# There are .gitignore in:
#                         system/storage/cache
#                         system/storage/logs
#                         system/storage/session
#                         system/storage/upload
#                         image/cache
